
<mat-toolbar color="primary">
  <span>
    <a routerLink="/"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      {{title}}</a>
  </span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/add" routerLinkActive="mat-accent">Add Product</a>
    </li>
  </ul>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">
        <mat-icon aria-hidden="false" aria-label="Example home icon">login</mat-icon>
        Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">
        <mat-icon aria-hidden="false" aria-label="Example home icon">person_add</mat-icon>
        Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
