mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}
.container-fluid{
  background-color: rgb(191, 156, 211);
  min-height: 90vh;
}

.bg-theme{
  color: white;
  background: #673ab7;
}
